
.margin{
   
    margin-top: 60px;

}
.padding{
    padding-top: 38px;
    padding-bottom: 38px;

}
 .round-edg{
    border-radius: 8px;
}
.heading-pic {
    position: relative;
    background-image: url('./banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden; 
}

.inner-padding.intro{
    padding: 0px 10px;
}

.heading-pic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
}
span{
    color: rgb(49, 223, 49);
}
.info{
    color:black;
}
.figure:hover {
    border: 1px solid green; 
}
.figure img{
    width: 400px;
    height: 190px;
}
.figure-img {
    
    object-fit: cover;
    object-position: center; 
}

.figure{
    border: 1px solid rgb(187, 180, 180);
    border-radius: 4px;
}
.figure-caption span{
    font-size: 20px;
    right: 20px;
    margin-right: 150px;

    
}
.figure-caption .btn{
    background-color:#0AAD0A;
    border-radius: 4px;
    width: 80px;
    height: 35px;
    margin-bottom: 15px;
    margin-right: 130px;
}
.figure-caption i{
    font-size: 13px;
    color: whitesmoke;
}






.container-fluid.bottom-shadow {
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.3);
}

.container-fluid{
    height: auto;
}
#round{
    border-radius: 20px;
}
.section-margin{
    margin-bottom: 3rem;
}

#bor{
    border: 1px solid green;

}
#no{
    border: 1px solid black;
    background-color: blue;
}

#searchInput {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid #cdd8d4;
        border-radius: 18px;
        color: #21313c;
        display: block;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.9;
        padding: .55rem 1rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        width: 150%;

    }
    #searchInput:focus {
        border-color: green;   
                  
        box-shadow: 0 0 0 0.25rem rgba(0, 255, 0, 0.25); 
    }
    #searchInput:hover{
        cursor: pointer;
    }


.container-fluid{
    background-color: #F8F9FA;
    height: 200px;
}
i{
    font-size: 30px;
    color:#0AAD0A ;
}
#search_icon{
    font-size: 1.4rem;

}
#left-icon{
    font-size: 43px;
    position: absolute;
    top: 30px;
    margin-left: 30px;
}
#logo_name{
    margin-left: -20px;
    font-size: 2.1rem;
    position: absolute;
    top: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-padding-top{
    padding-top: 15px;
    padding-bottom: 0px;

}
.offcanvas-body ul li a{
    margin-right: 20px;


}
.offcanvas-body {

    top: -5px;
    right: 340px;
}
.offcanvas-body ul li a:hover{
    color: #0AAD0A;
}
.offcanvas-body ul{
    margin-left: 30px;
}
.nav-item a:hover{
    color: #0a800a;

}
.nav-link:focus{
    color: #079207;

}
nav {
    background-color: #eaeceb;

}
/* adjusting togllericon */
 .navbar{
    position: relative;
}
.navbar-toggler-icon{
    position: absolute;
    top: -250%;
    left: 96%;

}
.navbar-toggler{
    color: black;
    outline: none;
    border: none;
    font-size: 1rem;

}
.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}



@media (max-width:768px){


    .figure img{
        width: 30px;
        height: 160px;
    }
    .figure-img {
        
        object-fit: cover;
        object-position: center; 
    }
    
    .figure{
        border: 1px solid rgb(187, 180, 180);
        border-radius: 4px;
    }
    .figure-caption span{
        font-size: 10px;
        right: 0px;
        margin-right: 0px;
    
        
    }
    .figure-caption .btn{
        background-color:#0AAD0A;
        border-radius: 4px;
        width: 10px;
        height: 20px;
        margin-bottom: 6px;
        margin-right: 10px;
    }
    .figure-caption i{
        font-size: 7px;
        color: whitesmoke;
    }




    #logo_name{
        margin-left: -52px;
        position: absolute;
        top: 35px;
        font-size: 18px;
        color: #079207;
    }
    .row{
        position: relative;
    }
    #left-icon{
        margin-left: -26px;
        padding: 0px;
        position: absolute;
        top: 35px;
        font-size: 25px;
        display: none;


    }
    .container
    {
        padding: 0px 0px;
    }
    .section-padding-top{
      padding-top: 15px;

    }
    #right-icon{
        font-size: 20px;
        padding: 0px;
        margin-right: -8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;


    }
    .last-icon{

        position: absolute;
        right: 18px;
        font-size: 22px;

    }
    .navbar-toggler-icon{
        top: -51px;

    }
    #searchInput{
        line-height: 0.1rem;
        border-radius: 50px;
        font-size: 10px;

    }
    #search_icon{
        font-size: 15px;

    }
    #searchInput:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
    }
    .container-fluid{
        height: 113px;
    }
    .form-control{
        width: 10px
    }

}  